blinker==1.8.2
    # via flask
certifi==2024.8.30
    # via requests
charset-normalizer==3.4.0
    # via requests
click==8.1.7
    # via flask
dnspython==2.6.1
    # via ddnss-forwarder (pyproject.toml)
flask==3.0.3
    # via ddnss-forwarder (pyproject.toml)
idna==3.10
    # via requests
importlib-metadata==8.5.0
    # via flask
itsdangerous==2.2.0
    # via flask
jinja2==3.1.4
    # via flask
markupsafe==2.1.5
    # via
    #   jinja2
    #   werkzeug
pyyaml==6.0.2
    # via ddnss-forwarder (pyproject.toml)
requests==2.32.3
    # via ddnss-forwarder (pyproject.toml)
urllib3==2.2.3
    # via requests
werkzeug==3.0.4
    # via flask
zipp==3.20.2
    # via importlib-metadata
